body{
    overflow-x: hidden;
}
nav{
    background-color: rgb(180, 42, 42);
    padding: 25px;
    width: 100%;
    display: inline-flex;
    
}
.link
{
   margin-left: 700px;
}

 a{
    text-decoration: none;
    color:white;
    margin-left: 120px;
    font-size: 20px;
    
}

a:hover{
    text-decoration: none;
    color:white;
    background-color: blueviolet;
    border: 25px solid blueviolet;
    }

.first{
background-color:rgb(54, 51, 51);
text-align: center;
height: 40vh;
width: 100%;
}
#down{

    color:rgb(243, 64, 64);
}
#up{
    padding-top: 52px;
    color: #f1f1f1;
}
#middle{

    color: #f1f1f1;
}